{{>header}}
<title>BabyCare - {{title}}</title>
{{>navbar}}

{{>hero}}

<div class="container-fluid my-5 text-center">
    <h1>Thank You</h1>
    <h2>Your Email Address Has Been Registered in Newsletter Subscription</h2>
    <h3>Now We can Send Email To You Regarding Service Update, New Program, News Blog, and Upcomming Events</h3>
    <h4>If You Want to Unsubscribe please Contact Us</h4>
    <a href="/contactus" class="btn btn-primary">Contact Us</a>
</div>

{{>footer}}